/*{{AMASSITE-STYLE}}*/
body {
	font-family: sans-serif;
	/*background: #222222;*/
	background: #CCC;
}

/*Linebreak element for the about page, sepeartes the program links*/
.linebreak {
	height: 7px;
	border: 1px solid #CCC;
	background: #DDD;
	margin-bottom: 7px;
	margin-top: 7px;
	border-radius: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


.infoLink{
	text-decoration: none;
	color: #000;
}

.infoLinkBox {
	border-radius: 3px;
	background-color: #FFF;
	color: #333;
	padding: 10px;
	border: 1px solid #CCC;
	margin: 0px;
	text-align: center;
	margin-bottom: 3px;
}
.infoLinkBox:hover {
	background-color: #CCC;
}


/* Link to get to the aobut page */
.aboutLink {
	text-align: center;
	background: #BBB;
	border-radius: 5px;
	color: #555;
}

.aboutLink:hover {
	background: #999;
}

.content {
	background-color: #999;
	border-radius: 5px;
	padding: 5px;
}

@media screen {
	.content {
		/*dosent seem to be anything special for the mobile browser*/
	}
	.infoLinkWrapper {
		margin-top: 10px;
	}
	.aboutLink {
		padding: 10px;
	}
}
@media only screen and (min-width: 530px) {
	.content {
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
	}
	.infoLinkWrapper {
		position: absolute;
		bottom: 20px;
		left: 20px;
	}
	.aboutLink {
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100px;
	}
}

.button {
	border-radius: 3px;
	background-color: #DDD;
	cursor:pointer;
	padding: 10px;
	border: 1px solid #CCC;
	margin: 0px;
	width: 100%;
	-webkit-appearance: none;
}

.button:hover {
	background-color: #CCC;
}

.textbox {
	border-radius: 3px;
	padding: 10px;
	/*height: 40px;*/
	/*border: 0px;*/
	width: 100%;
	margin: 0px;
	outline: none;
	margin-bottom: 2px;
	border: 1px solid #CCC;
}

.outputbox {
	margin-top: 5px;
	border-radius: 3px;
	padding: 10px;

	background-color: #FFF;
	display: none;
	border: 1px solid #CCC;
	text-align: center;
	font-size: 13px;
}

/* Changes the selection color of the hash */
.outputbox::selection {
	background: #a8d1ff;
}

