/*{{AMASSITE-STYLE}}*/
body {
	font-family: sans-serif;
	/*background: #222222;*/
	background: #CCC;
}

/*Linebreak element for the about page, sepeartes the program links*/
.linebreak {
	height: 7px;
	border: 1px solid #CCC;
	background: #DDD;
	margin-bottom: 7px;
	margin-top: 7px;
	border-radius: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}


.infoLink{
	text-decoration: none;
	color: #000;
}

.infoLinkBox {
	border-radius: 3px;
	background-color: #FFF;
	color: #333;
	padding: 10px;
	border: 1px solid #CCC;
	margin: 0px;
	text-align: center;
	margin-bottom: 3px;
}
.infoLinkBox:hover {
	background-color: #CCC;
}


/* Link to get to the aobut page */
.aboutLink {
	text-align: center;
	background: #BBB;
	border-radius: 5px;
	color: #555;
}

.aboutLink:hover {
	background: #999;
}

.content {
	background-color: #999;
	border-radius: 5px;
	padding: 5px;
	max-width: 400px;
}

.content {
	margin-left: auto;
	margin-right: auto;
}
.infoLinkWrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	max-width: 410px;
}
.aboutLink {
	padding: 10px;
}
@media only screen and (min-width: 530px) {
	.content {
		width: 200px;
		margin-top: 100px;
	}
	.infoLinkWrapper {
		margin: 0;
		position: absolute;
		bottom: 20px;
		left: 20px;
	}
	.aboutLink {
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100px;
	}
}

.button::-moz-focus-inner {
  border: 0;
}

.button {
	border-radius: 3px;
	background-color: #DDD;
	cursor:pointer;
	padding: 10px;
	border: 1px solid #CCC;
	margin: 0;
	width: 100%;
	-moz-appearance: none;
	-webkit-appearance: none;

	background: #eeeeee; /* Old browsers */
	/* @alternate */ background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6+  */
	/* @alternate */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	/* @alternate */ background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	/* @alternate */ background: -o-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	/* @alternate */ background: -ms-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* IE10+ */
	/* @alternate */ background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C */
	/* @alternate */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}

.button:hover {
	background: #e2e2e2; /* Old browsers */
	/* @alternate */ background: -moz-linear-gradient(top, #e2e2e2 0%, #c2c2c2 100%); /* FF3.6+ */
	/* @alternate */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#c2c2c2)); /* Chrome,Safari4+ */
	/* @alternate */ background: -webkit-linear-gradient(top, #e2e2e2 0%,#c2c2c2 100%);  /* Chrome10+,Safari5.1+ */
	/* @alternate */ background: -o-linear-gradient(top, #e2e2e2 0%,#c2c2c2 100%); /* Opera 11.10+ */
	/* @alternate */ background: -ms-linear-gradient(top, #e2e2e2 0%,#c2c2c2 100%); /* IE10+ */
	/* @alternate */ background: linear-gradient(to bottom, #e2e2e2 0%,#c2c2c2 100%); /* W3C */
	/* @alternate */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#c2c2c2',GradientType=0 ); /* @alternate */ /* IE6-9 */
}
.button:active {
	background-color: #CCC;

	background: #cccccc; /* Old browsers */
	/* @alternate */background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%); /* FF3.6+ */
	/* @alternate */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	/* @alternate */background: -webkit-linear-gradient(top, #cccccc 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	/* @alternate */background: -o-linear-gradient(top, #cccccc 0%,#eeeeee 100%); /* Opera 11.10+ */
	/* @alternate */background: -ms-linear-gradient(top, #cccccc 0%,#eeeeee 100%); /* IE10+ */
	/* @alternate */background: linear-gradient(to bottom, #cccccc 0%,#eeeeee 100%); /* W3C */
	/* @alternate */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

a {
   outline: 0;
}

.textbox {
	border-radius: 3px;
	padding: 10px;
	/*height: 40px;*/
	/*border: 0px;*/
	width: 100%;
	margin: 0px;
	outline: none;
	margin-bottom: 2px;
	border: 1px solid #CCC;
}

.outputbox {
	margin-top: 5px;
	border-radius: 3px;
	padding: 10px;

	background-color: #FFF;
	display: none;
	border: 1px solid #CCC;
	text-align: center;
	font-size: 13px;
}

/* Changes the selection color of the hash */
.outputbox::selection {
	background: #a8d1ff;
}

.message {
	background: #ffa84c; /* Old browsers */
	/* @alternate */ background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
	/* @alternate */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
	/* @alternate */ background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
	/* @alternate */ background: -o-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
	/* @alternate */ background: -ms-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
	/* @alternate */ background: linear-gradient(to bottom, #ffa84c 0%,#ff7b0d 100%); /* W3C */
	/* @alternate */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
	margin-bottom: 10px;
}