body {
	font-family: sans-serif;
	/*background: #222222;*/
	background: #CCC;
}


.content {
		background-color: #222222;
		padding: 3px;
		background-color: #999;
		border-radius: 5px;
		padding: 5px;
}

@media screen {
	.content {
		/*dosent seem to be anything special for the mobile browser*/
	}
}
@media only screen and (min-width: 480px) {
	.content {
		width: 200px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 100px;
	}
}

.button {
	border-radius: 3px;
	background-color: #DDD;
	cursor:pointer;
	/*padding: 10px;*/
	border: 1px solid #CCC;
	line-height: 38px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	width: 100%;
}

.button:hover {
	background-color: #CCC;
}

.textbox {
	border-radius: 3px;
	/*padding: 10px;*/
	height: 40px;
	border: 0px;
	width: 100%;
	margin: 0px;
	outline: none;
	margin-bottom: 2px;
	border: 1px solid #CCC;
	padding-left: 10px;
	padding-right: 10px;
}

.outputbox {
	margin-top: 5px;
	border-radius: 3px;
	line-height: 38px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #FFF;
	display: none;
	border: 1px solid #CCC;
	text-align: center;
}